{% extends "layout.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/post.css">
{% endblock %}

{% block content %}
    <header>
        <div class="container">
            <h4 class="homeTitle white-text">New Post</h4>
        </div>
    </header>
        <div class="container">
         <div class="row postForm">
            <form class="col s12" name="newpost" action="" method="POST">
              {{ form.hidden_tag() }}
                <div class="row">
                    <div class="input-field col s6">
                      {{ form.title(type="text", id="title") }}
                      {{ form.title.label(for="title") }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      {{ form.description(type="textarea", id="description", class="materialize-textarea") }}
                      {{ form.description.label(for="description") }}
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <select name="category" id="cat">
                      <option value="" disabled selected>Choose your option</option>
                      {% for cat in categories %}
                        <div><option value="{{ cat.id }}">{{ cat.name }}</option></div>
                      {% endfor %}
                    </select>
                    <label>Category</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="com" type="text" disabled/>
                        <label>Committee</label>
                    </div>
                </div>
                <div class="row">
                    {{ form.submit(type="submit", class="btn waves-effect waves-light right", value="Submit") }}
                </div>
            </form>
          </div>
        </div>
        <script>
            $("#com").val(function(){
                var category = $("#cat").val();
                var categories = {{categories_json|safe }};
                console.log(category);
                categories.forEach(function(cat){
                    if (cat.id == category){
                        category = cat.name;
                        return;
                    }
                });
                return category;
            });
            $("#cat").change(function(){
                var category = $("#cat").val();
                var categories = {{categories_json|safe }};
                categories.forEach(function(cat){
                    if (cat.id == category){
                        $("#com").val(cat.name);
                        return;
                    }
                });
            });
        </script>
{% endblock %}
